@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todos-bg-container {
  background-color: #f5f5dc;
  height: 100vh;
}

.top-card {
  background-color: #d993ec;
  padding: 0px 10px;
  margin: 35px;
}
.todos-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font: bold italic 50px Bree Serif;
  text-decoration: underline;
  text-align: center;
}

.create-task-heading {
  font: 700 32px Roboto;
}

.create-task-heading-subpart {
  font: 500 32px Roboto;
}

.todo-items-heading {
  font: 700 32px Roboto;
}

.todo-items-heading-subpart {
  font: 500 32px Roboto;
}

.todo-items-container {
  margin: 0;
  padding: 0;
}

.todo-item-container {
  margin-top: 15px;
}

.todo-user-input {
  background-color: #fff;
  width: 100%;
  border: 1px solid #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}

.button {
  color: #fff;
  background-color: #ffa500;
  font: 18px Roboto;
  border-width: 0;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 20px;
}

.bottom-card {
  background-color: gray;
  padding: 20px 15px;
  margin: 35px;
}

.label-container {
  background-color: #e6f6ff;
  width: 100%;
  border-left: 5px solid #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
}

.checkbox-label {
  font: 400 16px Roboto;
  width: 82%;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.delete-icon-container {
  text-align: right;
  width: 18%;
}

.delete-icon {
  padding: 15px;
}

.checked {
  text-decoration: line-through;
}
